.section {
    background-color: #F191D0;
    border-style: solid;
    border-color: black;
    font-family: 'Playfair Display SC', serif;
}

.questions {
    margin: 1%;
}

.secHr {
    width: 100%;
    background-color: black;
}

.secHead {
margin: 1%;
}